@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@300;400;700;800&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    transition: all .2s;
}

*:focus{
    outline: none;
}

:root{
    --bg-color: #fafafa;
    --second-color: #dfdfdf;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --black: #222;
    --light-color:#666;
}

/*html{*/
/*    font-size: 16px;*/
/*}*/

body{
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
}

a{ text-decoration: none; }

li{ list-style: none; }

img, button{ display: block; }

a, span{ display: inline-block; }

.btn{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    opacity: 0.5;
}

/*=====*/
/*Header*/
/*======*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid var(--second-color);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 2;
}

.header__box{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    height: 100%;
    margin-top: 5px ;
}

.header__search{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: var(--bg-color);
    border: 1px solid var(--second-color);
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    /*text-indent: 5rem;*/
    text-align: center;
}

.header__search input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.header__icons{
    height: 22px;
    position: relative;
    display: flex;
}

.icons__item{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}


.icons__profile{
    display: block;
    width: 22px;
    border-radius: 50%;
    background-size: cover;
}

/*=====*/
/*Main*/
/*=====*/

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main__box{
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.box__left-col{
    display: flex;
    flex-direction: column;
}

.content__stories{
    position: relative;
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid var(--bg-color);
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.swiper-wrapper:nth-child(1){
    padding: 0 2rem 0 2rem ;
}

.content__stories i{
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.57);
    background: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.content__stories:hover i{
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}

#swiper-button-prev{
    left: .5rem;
}

#swiper-button-next{
    right: .5rem;

}

.stories__profile{
    flex: 0 0 auto;
    width: 100%;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.stories__profile-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 3px;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.stories__profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.stories__profile-name{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
}

.main__post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid var(--second-color);
    margin-top: 40px;
}

.post__profile{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.post__profile-name{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.post__profile-box{
    display: flex;
    align-items: center;
}

.post__profile-img{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.post__profile-img img{
    border: none;
}

.post__options{
    height: 10px;
    cursor: pointer;
}

.post__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post__content{
    width: 100%;
    padding: 20px;
}

.post__likes{
    font-weight: bold;
}

.post__description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.post__description span{
    font-weight: bold;
    margin-right: 10px;
}

.post__time{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}

.post__feedback{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.post__feedback .icons__item{
    height: 25px;
    margin: 0 25px 0 0;
}

.post__feedback .icons__item.like{
    border-radius: 50%;
    background-color: red;
}

.post__feedback .save{
    margin-left: auto;
}

.post__comment{
    width: 100%;
    height: 50px;
    border-radius: 1px solid var(--second-color);
    display: flex;
    align-items: center;
}

.post__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post__comment .icons__item{
    height: 30px;
}

.comment__box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.btn-comment,
.btn-rec{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgba(0, 162, 255);
    opacity: 0.5;
}

.main__sidebar{
    padding: 20px;
}

.rec__profile{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 3rem;
}

.rec__profile:first-child .rec__profile-img{
    width: 70px;
    height: 70px;
}

.rec_suggestions{
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
    margin: 20px 0;
}

.rec__profile-img img{
    border: none;
}

.rec__profile-img{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.rec__profile-desc{
    padding-left: 1rem;
}

.rec__profile-name{
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.rec__profile-text{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.btn-rec{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

/*======*/
/*Auth*/
/*======*/

.auth{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth__img-screen{
    position: absolute;
    left: 150px;
    top: 100px;
}

.auth__img{
    position: relative;
}

.auth__box{
        width: 350px;
}

.auth__form{
    /*width: 350px;*/
    background: #fff;
    border: 1px solid var(--bg-color);
    border-radius: 2px;
    padding: 20px 40px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.auth__logo{
    width: 80%;
    margin: 20px 0 30px 0;
}

.auth__form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__box{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form__box:focus{
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.form__box::placeholder{
    color: #8a8a8a;
    font-size: 12px;
}

.btn-login{
    width: 100%;
    background: rgba(0, 162, 255);
    color: var(--bg-color);
    height: 100%;
    margin: 7px 0;
    padding: 7px 0;
    border-radius: .4rem;
}

.auth__divider{
    display: flex;
    width: 100%;
    font-size: 12px;
    gap: 20px;
    align-items: center;
}

.auth__line{
    flex: 1;
    height: 1px;
    background: #8a8a8a;
}

.auth__fb{
    margin: 20px 0;
    color: rgba(0, 34, 255, 0.76);
    font-size: 14px;
    font-weight: 600;
}

.auth__forgot{
    color: #000;
    font-size: 12px;
}

.auth__redirect-signup{
    background: #fff;
    border: 1px solid var(--bg-color);
    border-radius: 2px;
    margin: 5px 0;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.auth__redirect-signup a{
    color: #3dd1ff;
    font-weight: 600;
}

.auth__playmarket{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;
}

.auth__playmarket-img{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.auth__playmarket-img img{
    width: 140px;
    height: auto;
}

.create-post{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all .3s;
    transform: scale(1);
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
}

.create-post.active{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.crete-post__box{
    display: grid;
    grid-template: repeat(auto-fit, auto 1fr) / repeat(2, 300px 300px);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 65rem;
    max-height: 40rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: var(--bg-color);
}

.create__post-header{
    height: 3rem;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.create__post-header a{
    font-size: 28px;
    font-weight: 500;
    color: #47423c;
}

.create__post-header h3{
    font-weight: 700;
}

.create__post-header button{
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgba(0, 162, 255);
    opacity: 0.5;
}


.create__post-img{
    grid-column: 1;
    max-height: 35rem;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.create__post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create__post-form{
    grid-column: 2;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 5px 0 0 5px;
}

.create__post-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create__post-form form .form__area{
    height: 10rem;
    margin-top: 10px;
    background: var(--bg-color);
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    resize: none;
}

.create__post-form form .form__input{
    width: 100%;
    margin-top: 10px;
    background: var(--bg-color);
    margin-bottom: 1rem;
    padding: 10px 0 10px 0;
}

.btn-upload-photo{
    width: 90%;
    margin: 30px 0 15px 0;
    height: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    border-radius: 25px;
    color: var(--bg-color);
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
    align-items: center;
    justify-content: center;
    outline: none;
}

/*==========*/
/*Profile*/
/*==========*/
.profile{
    margin: 4rem auto 3rem auto;
    max-width: 1000px;
}

.profile__box{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.profile__head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 70%;
}

.profile__head .head__img{
    flex-shrink: 0;
    max-width: 150px;
    border-radius: 50%;

}

.profile__head .head__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.head__box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.head__setting{
    padding-right: 2rem;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.head__setting h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.head__setting button{
    border: 1px solid black;
    font-weight: 500;
}

.head__setting a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.head__box .head__box-spa{
    height: 25px;
}

.head__stat{
    display: flex;
    gap: 1rem;
}

.profile__posts{
    border-top: 1px solid rgba(101, 85, 93, 0.34);
    width: 100%;
}

.profile__posts-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

.profile__posts-head li{
    height: 100%;
    width: 130px;
    position: relative;
    padding-top: 1rem;
}

.profile__posts-head li.active{
    border-top: 1px solid black;
}

.profile__posts-head a{
    color: #070808;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.profile__posts-head a span{
    letter-spacing: .2px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    padding-left: .3rem;
}

.profile__media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}

.profile__media .media__img{
    max-width: 300px;
    max-height: 300px;
    position: relative;
}

.profile__media .media__img a{
     position: relative;
}

.profile__media .media__img::before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(69, 61, 65, 0.72);
    transition: .3s ease;
}

.profile__media .media__img ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
}

.profile__media .media__img ul li i{
    color: var(--bg-color);
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;

}

@media (max-width: 1100px) {
    .main__sidebar, .header__search{
        display: none;
    }
    .header__box, .main__box{
        width: 90%;
    }
    .main__box{
        display: block;
    }
}