{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="main">
        <div class="main__box">
            <div class="main__content">
                <div class="swiper mySwiper content__stories">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>
                        <div class="swiper-slide stories__profile">
                            <a href="">
                                <div class="stories__profile-img">
                                    <img src="{% static 'images/9.png' %}" alt="">
                                </div>
                            </a>
                            <p class="stories__profile-name">username</p>
                        </div>

                    </div>
                    <i class='bx bx-right-arrow-alt' id="swiper-button-next"></i>
                    <i class='bx bx-left-arrow-alt' id="swiper-button-prev"></i>
                </div>

                {% for obj in object_list %}
                <div class="main__post">
                    <div class="post__profile">
                        <div class="post__profile-box">
                            <div class="post__profile-img stories__profile-img">
                                <img src="{% static 'images/cover 5.png' %}" alt="">
                            </div>
                            <p class="post__profile-name">{{ obj.user.username }}</p>
                        </div>
                        <img class="post__options" src="{% static 'images/option.PNG' %}" alt="">
                    </div>
                    <img class="post__img" src="{{ obj.picture.url }}" alt="">
                    <div class="post__content">
                        <div class="post__feedback">
                            {% if request.user.profile in obj.liked.all %}
                                <img class="icons__item" src="{% static 'images/heart-fill.svg' %}" alt="">
                            {% else %}
                                <img class="icons__item" src="{% static 'images/like.PNG' %}" alt="">
                            {% endif %}
                            <img class="icons__item" src="{% static 'images/comment.PNG' %}" alt="">
                            <img class="icons__item" src="{% static 'images/send.PNG' %}" alt="">
                            {% if request.user.profile in obj.favorites.all %}
                                <img class="save icons__item" src="{% static 'images/bookmark-fill.svg' %}" alt="">
                            {% else %}
                                <img class="save icons__item" src="{% static 'images/save.PNG' %}" alt="">
                            {% endif %}
                        </div>
                        <p class="post__likes">1.200 likes</p>
                        <p class="post__description">
                            <span>{{ obj.user.username }}</span>
                            {{ obj.description }}
                        </p>
                        <p class="post__time">2 minutes ago</p>
                        <div class="post__comment">
                            <img class="icons__item" src="{% static 'images/smile.PNG' %}" alt="">
                            <form action="" class="post__form">
                                <input class="post__comment__box" type="text" placeholder="Add a comment">
                                <input class="btn btn-comment" type="submit">
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="main__sidebar">
                <div class="rec__profile stories__profile">
                    <div class="rec__profile-img stories__profile-img">
                        <img src="{% static 'images/9.png' %}" alt="">
                    </div>
                    <div class="rec__profile-desc">
                        <p class="rec__profile-name">username</p>
                        <p class="rec__profile-text">Hello world</p>
                    </div>
                    <button class="btn btn-rec">switch</button>
                </div>
                <p class="rec_suggestions">Рекомендуем подписаться</p>
                 <div class="rec__profile stories__profile">
                    <div class="rec__profile-img stories__profile-img">
                        <img src="{% static 'images/9.png' %}" alt="">
                    </div>
                    <div class="rec__profile-desc">
                        <p class="rec__profile-name">username</p>
                        <p class="rec__profile-text">Hello world</p>
                    </div>
                    <button class="btn btn-rec">follow</button>
                </div>
                 <div class="rec__profile stories__profile">
                    <div class="rec__profile-img stories__profile-img">
                        <img src="{% static 'images/9.png' %}" alt="">
                    </div>
                    <div class="rec__profile-desc">
                        <p class="rec__profile-name">username</p>
                        <p class="rec__profile-text">Hello world</p>
                    </div>
                    <button class="btn btn-rec">follow</button>
                </div>
                 <div class="rec__profile stories__profile">
                    <div class="rec__profile-img stories__profile-img">
                        <img src="{% static 'images/9.png' %}" alt="">
                    </div>
                    <div class="rec__profile-desc">
                        <p class="rec__profile-name">username</p>
                        <p class="rec__profile-text">Hello world</p>
                    </div>
                    <button class="btn btn-rec">follow</button>
                </div>
                 <div class="rec__profile stories__profile">
                    <div class="rec__profile-img stories__profile-img">
                        <img src="{% static 'images/9.png' %}" alt="">
                    </div>
                    <div class="rec__profile-desc">
                        <p class="rec__profile-name">username</p>
                        <p class="rec__profile-text">Hello world</p>
                    </div>
                    <button class="btn btn-rec">follow</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/createPost.js' %}"></script>
    <script src="{% static 'js/homeSwiper.js' %}"></script>
{% endblock %}