{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}


{% block content %}

    <section class="auth">
        <div class="auth__img">
            <img src="{% static 'images/phones.png' %}" alt="">
            <img class="auth__img-screen" src="{% static 'images/screen.jpg' %}" alt="">
        </div>
        <div class="auth__box">
            <div class="auth__form">
                <img class="auth__logo" src="{% static 'images/logo.PNG' %}" alt="">
                <form action="">
                    <input
                            placeholder="телефон, имя пользователя"
                            class="form__box"
                            type="text"
                            required
                    >
                    <input
                            placeholder="пароль"
                            required
                            class="form__box"
                            type="password"
                    >
                    <input
                            type="submit"
                            class="btn btn-login"
                    >
                    <div class="auth__divider">
                        <div class="auth__line"></div>
                        <p>ИЛИ</p>
                        <div class="auth__line"></div>
                    </div>
                    <a class="auth__fb" href="#"><i class='bx bxl-facebook-square'></i> Войти через Facebook</a>
                    <a href="#" class="auth__forgot">Забыли пароль?</a>
                </form>
            </div>
            <div class="auth__redirect-signup">
                <p>У вас ещё нет аккаунта? <a href="">Зарегистрироваться</a></p>
            </div>
            <div class="auth__playmarket">
                <p>Установите приложение.</p>
                <div class="auth__playmarket-img">
                    <img src="{% static 'images/play-store.svg' %}" alt="">
                    <img src="{% static 'images/app-store.svg' %}" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}